$curDefauld: url("/src/img/cursor-default.svg"), default;
$curActive: url("/src/img/cursor-active.svg"), default;

body,
* {
  font-family: "Montserrat";
  cursor: $curDefauld;
}

.wraper {
  background-color: #8dbdba;
  transition: 2s;
  overflow: hidden;
}

.button__box {
  text-align: center;
  margin: 10px auto;
}
.btn:hover {
  cursor: $curActive;
}

.slider__track {
  display: flex;
  transition: 0.5s;
}
