body,
* {
  font-family: "Montserrat";
}

.wraper {
  background-color: #8DBDBA;
  transition: 2s;
  overflow: hidden;
}

.button__box {
  text-align: center;
  margin: 10px auto;
}

// .slider__container {
//   overflow: hidden;
// }
// .slider__track {
//   overflow: hidden;
// }
// .slider__item {
//   overflow: hidden;
// }

.slider__track {
  display: flex;
  transition: 0.5s;

}

